// Colors

// $sidebar-color: $koroedstvo-bar;
// $body-text-color: $grey-dk-300;
// $link-color: $cdr-darker;
// $nav-child-link-color: darken($link-color, 10%);


body {  
  /***
    ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
    IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
  ***/
  // background-color: white;
  /* Accent HSL values */
  --cdr-h: 106;      
  --cdr-s: 42%;  
  --cdr-l: 47%;

  --koroedstvo-bar: #FCD5A6;
  --koroedstvo-bar-darker: #F9C182;
  --cdr-light: #ADD4A0;
  --cdr-normal: hsl(var(--cdr-h), var(--cdr-s), var(--cdr-l));
  --cdr-darker: #568F44;

  --accent-h: var(--accent-h);        
  --accent-s: var(--accent-s);
  --accent-l: var(--accent-l);   

  // --background-secondary: var(--koroedstvo-bar);

  .filetree-sidebar {
    background-color: var(--koroedstvo-bar);
  }

  // --link-color: $cdr-darker;
  .content {
    ::selection {
      background: var(--cdr-light);
    }
  //   font-size: 14px;
  //  }
  //  h1 {
  //   color: black;
  }
}