// Colors

// $sidebar-color: $koroedstvo-bar;
// $body-text-color: $grey-dk-300;
// $link-color: $cdr-darker;
// $nav-child-link-color: darken($link-color, 10%);

:root {
  // Colors
  --koroedstvo-bar: #FCD5A6;
  --koroedstvo-bar-darker: #F9C182;
  --cdr-light: #ADD4A0;
  --cdr-normal: #5EAB46;
  --cdr-darker: #568F44;
}

body {  
  /***
    ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
    IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
  ***/
  // background-color: white;

  --font-text-size: 16px;

  // --background-secondary: var(--koroedstvo-bar);
  --text-accent: var(--cdr-darker);
  --text-accent-hover: darken(--cdr-darker, 10%);

  .filetree-sidebar {
    background-color: var(--koroedstvo-bar);
    font-size: 0.95em;
  }  
  
  .content {
    font-size: var(--font-text-size);
    ::selection {
      background: var(--cdr-light);
    }
    // font-size: 16px;
  //  }
  //  h1 {
  //   color: black;
  }

  .notelink.active-note {
    background-color: var(--koroedstvo-bar-darker);
    transform: translateX(0);
  }  
}