// Colors

:root {
  --cdr-h: 106;      
  --cdr-s: 42%;  
  --cdr-l: 47%;

  --koroedstvo-bar: #FCD5A6;
  --koroedstvo-bar-darker: #F9C182;
  --cdr-light: #ADD4A0;
  --cdr-normal: hsl(var(--cdr-h), var(--cdr-s), var(--cdr-l));
  --cdr-darker: #568F44;

  // --background-primary: rgb(32, 31, 31);
  --background-secondary: var(--koroedstvo-bar);
  // --text-normal: #dcddde;
  // --text-accent: rgb(97, 186, 245);
  // --file-margins: 32px;

  // --callout-border-width: 0px;
  // --callout-border-opacity: 0.25;
  // --callout-padding: 12px 12px 12px 24px;
  // --callout-radius: 4px;
  // --callout-blend-mode: lighten;
  // --callout-title-padding: 0;
  // --callout-title-size: inherit;
  // --callout-content-padding: 0;
}

// $sidebar-color: $koroedstvo-bar;
// $body-text-color: $grey-dk-300;
// $link-color: $cdr-darker;
// $nav-child-link-color: darken($link-color, 10%);


body {  
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    // background-color: white;
    /* Accent HSL values */
    --accent-h: var(--accent-h);        
    --accent-s: var(--accent-s);
    --accent-l: var(--accent-l);   

    // --link-color: $cdr-darker;
    .content {
      ::selection {
        background: var(--cdr-light);
      }
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    }
}