// Typography

// $mono-font-family: "Hack", "SFMono-Regular", menlo, consolas, monospace;

// Font size
// `-sm` suffix is the size at the small (and above) media query

// $body-heading-line-height: 2;

// Colors

$koroedstvo-bar: #FCD5A6;
$koroedstvo-bar-darker: #F9C182;
$cdr-light: #ADD4A0;
$cdr-normal: #5EAB46;
$cdr-darker: #568F44;

$sidebar-color: $koroedstvo-bar;
$body-text-color: $grey-dk-300;
$link-color: $cdr-darker;
$nav-child-link-color: darken($link-color, 10%);

$feedback-color: $koroedstvo-bar-darker;

.site-header {
    border-bottom: $koroedstvo-bar-darker !important;
}

.site-footer {
    color: darken($koroedstvo-bar, 25%) !important;
}

.main-content {
    blockquote {        
        color: $grey-dk-100;
        // background-color: $grey-lt-000;
        margin: 0;
        border-left: $sp-1 solid $grey-lt-300;
        padding-left: $sp-4;
    }

    h1 {font-weight: 500;}

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    #toctitle {
        margin-bottom: 0.75em !important;
    }
}

code {
    font-size: $font-size-4 !important;
    line-height: $body-line-height;
  }